body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
}

.header h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.news-marquee, .weather-marquee {
    overflow: hidden;
    white-space: nowrap;
}

.news-marquee ul, .weather-marquee p {
    display: inline-block;
    animation: scroll 15s linear infinite;
}

.news-marquee ul li, .weather-marquee p {
    display: inline;
    margin-right: 50px;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
